@model Cricket_Auction.Web.ViewModels.PlayerDetailsViewModel

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            @*<div class="col-md-6">

                    @if (Model.Auction.AuctionPictures != null && Model.Auction.AuctionPictures.Count > 0)
                    {
                        var firstAuctionPicture = Model.Auction.AuctionPictures.First();
                        var i = 0;

                        <div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
                            <ol class="carousel-indicators">

                                @foreach (var picture in Model.Auction.AuctionPictures)
                                {
                                    var active = picture == firstAuctionPicture ? "active" : string.Empty;

                                    <li class="@active" data-bs-target="#carouselIndicators" data-bs-slide-to="@i"></li>
                                    i++;
                                }

                            </ol>
                            <div class="carousel-inner">

                                @foreach (var auctionPicture in Model.Auction.AuctionPictures)
                                {
                                    var active = auctionPicture == firstAuctionPicture ? "active" : string.Empty;

                                    var picURL = "/Content/images/" + auctionPicture.Picture.URL;

                                    <div class="carousel-item @active">
                                        <img class="d-block img-fluid" src="@picURL" />
                                    </div>
                                }

                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>

                    }
                </div>*@
            <div class="col-md-6">
                <!---<div class="small mb-1">SKU: BST-498</div>--->
                <h1 class="display-5 fw-bolder">@Model.Players.FirstName+" "+@Model.Players.LastName </h1>
                <div class="fs-5 mb-5">
                    <span>@Model.Players.PlayerRole</span>
                    <!--<span>$40.00</span>--->
                </div>
                <p class="lead">@Model.Players.Description</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="number" value="1" style="max-width: 3rem" />
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>



